@model IEnumerable<RoleViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a    asp-action="Create" class="btn btn-primary"> Add New Role</a>
<br />
<br />
<h2>All Roles </h2>
<br />
<div class="row justify-content-center align-items-center mt-5">

    <div class="row justify-content-center align-items-center mt-5">

        <form asp-action="Index" class="row col-8 offset-2">

            <div class="col-8">
                <input type="text" name="SearchValue" placeholder="Search Role" class="form-control" />
            </div>
            <div class="col-4">
                <input type="submit" value="Search" class="btn btn-success" />
            </div>

        </form>
    </div>
    </div>

    <br />
    @if (Model.Count() > 0)
    {
        <table class="mt-4 table table-striped table-hover">
            <thead>
                <tr>

                    <th>@Html.DisplayNameFor(U => U.Id)</th>
                    <th>@Html.DisplayNameFor(U => U.RoleName)</th>
                   
                    <th>Details</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Role in Model)
                {
                    <tr>
                        <td>@Role.Id</td>
                        <td>@Role.RoleName</td>
                    <partial name="_ButtonPartial" model="@Role.Id" />
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <br />
        <div class="mt-4 p-4 alert-warning">
            <h2>There is No Roles!!</h2>
        </div>
    }



